@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}
body {
  background: #eee;
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body #scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 900px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  margin-top: 195px;
  margin-left: 6vh ;
  border-radius: 1.5mm;
  box-shadow: 8px 8px 10px grey;
}

#panaceabox {
  text-align: center;
  border-radius: 1.5mm;
	/* display: inline-flex; */
	justify-content: center;
	align-items: center;
  /* display: inline-flex; */
  width: 375px;
  height: 400px;
  position: absolute;
  background-color: #11CB95;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  margin-top: 195px;
  margin-left: 970px;
  box-shadow: 8px 8px 10px grey;
}

body #scene #left-zone {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}
body #scene #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
body #scene #left-zone .list li.item input[type=radio] {
  display: none;
}
body #scene #left-zone .list li.item input[type=radio] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
body #scene #left-zone .list li.item input[type=radio] ~ label:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type=radio] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_ayurveda:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_homeopathy:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_cardiac:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ label.label_other:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content {
  position: absolute;
  left: 350px;
  top: -400px;
  width: 650px;
  height: 400px;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_ayurveda .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_ayurveda h1 {
  color: #00B16A;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_homeopathy .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_homeopathy h1 {
  color: #F5D76E;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_cardiac .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_cardiac h1 {
  color: #D64541;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_other .picto {
  height: 100px;
  width: 100px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content.content_other h1 {
  color: #F27935;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content h1:first-letter {
  text-transform: uppercase;
}
body #scene #left-zone .list li.item input[type=radio] ~ .content p {
  max-width: 50%;
  text-align: center;
  margin-right: 85px;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_ayurveda {
  color: #00B16A;
  border-right: solid 4px #00B16A;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_homeopathy {
  color: #F5D76E;
  border-right: solid 4px #F5D76E;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_cardiac {
  color: #D64541;
  border-right: solid 4px #D64541;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_other {
  color: #F27935;
  border-right: solid 4px #F27935;
}
body #scene #left-zone .list li.item input[type=radio]:checked ~ .content {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body #scene #middle-border {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}
body #scene #right-zone {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
  }
  
  to {
    text-shadow: 0 0 20px #00B16A, 0 0 30px #00B16A, 0 0 40px #00B16A, 0 0 50px #00B16A, 0 0 60px #00B16A, 0 0 70px #00B16A, 0 0 80px #00B16A;
  }
}